{% extends "layouts/main.html" %}

{% block pageTitle %}
  Avon Court – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Avon Court
      </h1>

      <p class="govuk-body-l">18 Baker Street, London, W1A 1AB</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            We hold other addresses or postcodes for this building
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>19 Baker Street, London, W1A 1AB</li>
            <li>W1A 1AC</li>
          </ul>
        </div>
      </details>

      <!--

      <p>Contents</p>

      <ul class="govuk-list">
        <li>
          - <a class="govuk-link" href="#aps">Who is responsible for the building's safety</a>
        </li>
        <li>
          - <a class="govuk-link" href="#summary">Summary information</a>
        </li>
        <li>
          - <a class="govuk-link" href="#evacuation">Evacuation strategy</a>
        </li>
        <li>
          - <a class="govuk-link" href="#fire">Fire and smoke controls</a>
        </li>
        <li>
          - <a class="govuk-link" href="#materials">Materials the building is made from</a>
        </li>
        <li>
          - <a class="govuk-link" href="#uses">What the building is used for</a>
        </li>
        <li>
          - <a class="govuk-link" href="#connections">Connections to other buildings</a>
        </li>
        <li>
          - <a class="govuk-link" href="#structural">Structural information</a>
        </li>
        <li>
          - <a class="govuk-link" href="#energy">Energy information</a>
        </li>
      </ul>

      -->

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of floors above ground</th>
            <td class="govuk-table__cell">15</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of floors below ground</th>
            <td class="govuk-table__cell">1</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Height</th>
            <td class="govuk-table__cell">45 metres</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of residential units<br><span class="govuk-!-font-weight-regular">These could be flats, maisonettes or any other places that residents could live.</span></th>
            <td class="govuk-table__cell">120</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Building completed</th>
            <td class="govuk-table__cell">Between 1970 and 1984</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-!-padding-bottom-8"></div>

      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Who is responsible for the building's safety"
      },
      content: {
        html: '
        <p>These are also known as accountable persons.</p>

        <h3 class="govuk-heading-s">Greenways Limited</h3>

        <p>Greenways Limited is responsible for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the external walls and roof</li>
          <li>the routes that residents can walk through, like corridors, staircases and fire doors</li>
          <li>updating the information held by the Building Safety Regulator</li>
        </ul>

        <p>They are based at 17 Rosewood Avenue, Oakshire, Manchester, M8 4JT.</p>

        <h3 class="govuk-heading-s">Rune Ltd</h3>

        <p>Rune Ltd is responsible for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>maintaining plant and equipment - this includes lifts, firefighting equipment and any other machinery in the building</li>
        </ul>

        <p>They are based at 56 Thistle Street, Heatherfield, EH3 6QW.</p>

        <h3 class="govuk-heading-s">An individual</h3>

        <p>An individual is responsible for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>facilities that residents share, like laundry rooms or bin rooms</li>
        </ul>

        <p>We cannot publish personal data, like the name or address, of individuals.</p>
        '
      }
    },
    {
      heading: {
        text: "Evacuation strategy"
      },
      content: {
        html: '
        <p>In the event of a fire or other emergency, the evacuation strategy for Avon Court is temporary simultaneous. This means that all floors of the building should be evacuated at the same time. This is a temporary strategy.</p>
        '
      }
    },
    {
      heading: {
        text: "Fire and smoke controls"
      },
      content: {
        html: '
        <h3 class="govuk-heading-s">Equipment in the residential units</h3>

        <p>In the residential units, there are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>smoke detectors</li>
          <li>water sprinklers or misting system</li>
        </ul>

        <h3 class="govuk-heading-s">Equipment in the parts that residents share</h3>

        <p>There are smoke detectors. They are located:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>in a shared space with equipment like a utility room, meter room, or shared laundry room</li>
          <li>in a shared room with no equipment, like a communal lounge</li>
        </ul>

        <p>There are alarms connected to the heat or smoke detectors. They are located:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>in one or more corridors</li>
          <li>in one or more staircases</li>
          <li>in a lobby</li>
        </ul>

        <p>There are fire extinguishers. They are located:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>on one or more shared balconies</li>
          <li>on one or more external staircases</li>
          <li>in the car park</li>
          <li>in the basement</li>
          <li>in a bin store</li>
          <li>on the rooftop</li>
        </ul>

        <h3 class="govuk-heading-s">Fire doors</h3>

        <p>There are 40 residential front doors:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>30 have no certified fire resistance</li>
          <li>10 are certified as fire resistant for 30 minutes</li>
        </ul>

        <p>There are 12 fire doors in the parts of the building that residents share:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>8 are certified as fire resistant for 30 minutes</li>
          <li>4 are certified as fire resistant for 60 minutes</li>
        </ul>

        <h3 class="govuk-heading-s">Evacuation or firefighter lifts</h3>

        <p>We do not hold information about all lifts in the building. We only hold information about lifts that can be used by firefighters or to evacuate residents in an emergency.</p>

        <p>The building contains at least one:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>fire fighting lift - this type of lift is protected from fires. Firefighters can controls these lifts. They will have been installed after 1986.</li>
          <li>firemen`s lift - this type of lift has no complex lift controls or protection measures for firefighters to use. They are likely to have been installed before 1986.</li>
        </ul>
        '
      }
    },
    {
      heading: {
        text: "Materials the building is made from"
      },
      content: {
        html: '
        <h3 class="govuk-heading-s">Materials on the outside of the building</h3>

        <p>The outside walls are covered by:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>60% glass</li>
          <li>35% concrete</li>
          <li>5% aluminium composite material (ACM)</li>
        </ul>

        <p>The aluminium composite material:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>has met the required fire classification A2-s1, d0 or better - this classifies building materials based on their reaction to fire</li>
          <li>has passed a large scale fire test to BS8414, the British Standard for tests that assess the fire safety of cladding applied to the outside of buildings</li>
        </ul>

        <h3 class="govuk-heading-s">Insulation material</h3>

        <p>Insulation in the outside walls is made of:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>50% foil bubble or multifoil - this is metal foil with air pockets or other insulating material inside</li>
          <li>50% fibreglass or mineral wool fibre</li>
        </ul>

        <h3 class="govuk-heading-s">Features on the building</h3>

        <p>There are balconies made mostly from concrete and glass.</p>

        <p>There are sky lights made mostly from glass and plastic.</p>

        <h3 class="govuk-heading-s">Changes made to the building</h3>

        <p>We do not hold information about day-to-day maintenance and repairs. We only hold information about large scale works that needed special permission (building control approval) and affected large areas of the building.</p>

        <p>These changes have been made to the building since it was built:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>asbestos was removed</li>
          <li>more floors were added - these floors were built from a metal other than steel which was cast into modular or prefabricated blocks and fastened together</li>
          <li>work was done to the cold water systems in more than one of the flats or other residential units</li>
        </ul>

        <p>The most recent of these changes was when asbestos was removed in 1999.</p>
        '
      }
    },
    {
      heading: {
        text: "What the building is used for"
      },
      content: {
        html: '
        <p>The floors above ground are mainly used for residential dwellings, like flats.</p>

        <p>They are also used for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>offices</li>
          <li>shops, commercial or other retail uses, like a restaurant or hairdresser</li>
        </ul>

        <p>The floor below ground is used for other non-residential purposes like a car park, bin room, storage or factory.</p>

        <p>It was previously used as a residential institution, like a care home, prison, hospital or boarding school.</p>
        '
      }
    },
    {
      heading: {
        text: "Connections to other buildings"
      },
      content: {
        html: '
        <p>Avon Court is part of Aston Heights.</p>

        <p>There are 3 structures in Aston Heights:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Avon Court</li>
          <li>Horizon Court</li>
          <li>Cornerstone Court</li>
        </ul>

        <p>These structures are connected by:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a bridge or walkway</li>
          <li>a car park below ground</li>
          <li>a shared wall or walls with at least one emergency door</li>
        </ul>

        <p>Aston Heights is connected to other high-rise residential buildings:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>at ground floor</li>
        </ul>

        <p>Aston Heights is not connected to any other type of building.</p>
        '
      }
    },
    {
      heading: {
        text: "Structural information"
      },
      content: {
        html: '
        <p>The building structure is a concrete large panel system (LPS) built from 1970 onwards.</p>

        <p>Harringey Council issued a completion certificate for this building. The completion certificate number is 01193774. A completion certificate is issued when all the building works have been done.</p>

        <h3 class="govuk-heading-s">Roof</h3>

        <p>Some of the roof is flat and some is pitched.</p>

        <p>The roof is mostly covered by non-bitumen felt.</p>

        <p>There is a layer of insulation on top of the roof`s structure.</p>

        <h3 class="govuk-heading-s">Staircases</h3>

        <p>There are 3 staircases throughout the building.</p>

        <p>There are 2 staircases inside the building that go to all floors from ground level.</p>
        '
      }
    },
    {
      heading: {
        text: "Energy information"
      },
      content: {
        html: '
        <h3 class="govuk-heading-s">Energy supplies</h3>

        <p>The building is supplied by:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>district or communal heating - a system that generates heat in one place and distributes it through a building or several nearby buildings</li>
          <li>mains electricity</li>
        </ul>

        <h3 class="govuk-heading-s">Energy storage</h3>

        <p>We only hold information about energy storage in lithium ion or hydrogen batteries. Avon Court uses some other type of energy storage.</p>

        <h3 class="govuk-heading-s">Generating energy on site</h3>

        <p>Energy is not generated on the site.</p>
        '
      }
    }
  ]
}) }}

      <div class="govuk-!-padding-bottom-8"></div>

      <h2 class="govuk-heading-m">If you think any of this information is wrong</h2>

      <p>If any of this information has changed, it can take up to 10 weeks to show here.</p>

      <h3 class="govuk-heading-s">If you are part of Greenways Limited</h3>

      <p>As the principal accountable person, you must tell the Building Safety Regulator if any of this information has changed. <a href="https://www.gov.uk/guidance/applying-to-register-a-high-rise-residential-building#making-changes">Find out more about making changes to your registration</a>.</p>

      <h3 class="govuk-heading-s">If you are a resident</h3>

      <p>If you live in Avon Court and think any of this information has changed, contact Greenways Limited. Tell them what you think has changed and ask them to change it. They should have shared their engagement strategy with all residents of this building. The engagement strategy should tell you how to complain or ask them questions.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have tried and failed to contact Greenways Limited
          </span>
        </summary>
        <div class="govuk-details__text">
          If you have contacted Greenways Limited, but not had a response, <a href="#">contact the Building Safety Regulator</a>. If they have not already told us about the change, we will contact them about it.
        </div>
      </details>

      <div class="govuk-!-padding-bottom-8"></div>

      <p>To find another building, <a href="find-postcode">search again</a>.</p>

    </div>

  </div>

{% endblock %}
