{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search by address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Find a registered high-rise residential building
      </h1>

      <form class="form" action="/find-street-and-town-answer" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        
        {% call govukFieldset({
          legend: {
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: 'Building name (optional)'
            },
            id: "building-name",
            name: "building-name"
          }) }}
        
          {{ govukInput({
            label: {
              text: 'Street name'
            },
            id: "street",
            name: "street",
            autocomplete: "address-line1"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "town",
            name: "town",
            autocomplete: "address-level2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Postcode (optional)"
            },
            classes: "govuk-input--width-10",
            id: "postcode",
            name: "postcode",
            autocomplete: "postal-code"
          }) }}
        
        {% endcall %}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "waste",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              text: "I am not a robot"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Find building"
        }) }}

        <p><a href="find">Search by building name or postcode</a></p>

      </form>

    </div>
  </div>

{% endblock %}
