{% extends "layouts/main.html" %}

{% block pageTitle %}
  Building not found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We cannot find a matching building in our register
      </h1>

      <p>No matches found for <strong>{{ data['building-name'] }}</strong> and <strong>{{ data['city'] }}</strong>.</p>

      <p>This could be because:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the building you are looking for has not been registered with the Building Safety Regulator</li>
        <li>you have not spelt the building's name or city correctly</li>
        <li>we know the building by a different name</li>
        <li>the building is not a high-rise residential building</li>
        <li>the building is not in England</li>
      </ul>

      <p>Check the details you have entered are correct and <a href="find-building-name-and-city">search again</a>. Or <a href="find-postcode">search by postcode</a>.</p>

      <p>If you don't think your building has been registered, <a href="#">contact the Building Safety Regulator</a>.</p>

    </div>
  </div>

{% endblock %}